body {
  font-family: sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
}

.events p,
.events a {
  margin-top: 10px;
}

.facility-booking p#booked-facilities {
  font-weight: bold;
}

.book-button {
  display: block;
  margin-top: 10px;
  background-color: #0056b3;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.noticeboard {
  display: flex;
  flex-direction: column;
}

.notice {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.notice h3,
.notice p {
  margin: 5px 0;
}

.navbar {
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.homeowner-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

.mini-card {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.mini-card h2 {
  font-size: 14px;
  margin-bottom: 5px;
}

.events-button {
  display: block;
  margin-top: 10px;
  background-color: #0056b3;
  color: white;
  text-align: center;
  padding: 12px 24px; 
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px; 
}

.events-button:hover {
  background-color: #0056b3;
}